
YouTubeApiProject/obj/Release/net8.0/YouTubeApiProject.assets.cache
YouTubeApiProject/obj/Release/net8.0/YouTubeApiProject.AssemblyInfoInputs.cache
YouTubeApiProject/obj/Release/net8.0/YouTubeApiProject.AssemblyInfo.cs
YouTubeApiProject/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
YouTubeApiProject/obj/project.nuget.cache
YouTubeApiProject/obj/project.assets.json
YouTubeApiProject/obj/project.nuget.cache
YouTubeApiProject/obj/project.assets.json
YouTubeApiProject/obj/Debug/net8.0/YouTubeApiProject.sourcelink.json
YouTubeApiProject/obj/Debug/net8.0/YouTubeApiProject.pdb
.vs/ProjectEvaluation/youtubeapiproject.metadata.v9.bin
.vs/ProjectEvaluation/youtubeapiproject.projects.v9.bin
.vs/ProjectEvaluation/youtubeapiproject.strings.v9.bin
.vs/YouTubeApiProject/DesignTimeBuild/.dtbcache.v2
